<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}">
    <title>PPM</title>
</head>
<body>
    <header class="header">
        <a href="/">
            <h1>PPM ALGORITHM</h1>
        </a>
    </header>
    <div class="errors">
       {% for message in get_flashed_messages() %}
            <div class="alert-danger">{{ message }}</div>
       {% endfor %}
    </div>
    <div class="logging-content">
        {% if work_time or start_file_size or end_file_size %}
            <div class="logging-header">Function execution information</div>
        {% endif %}

        {% if work_time %}
            <div class="logging-info">Execution time {{ work_time }} seconds</div>
        {% endif %}

        {% if start_file_size %}
            <div class="logging-info">Start file size {{ start_file_size }} bytes</div>
        {% endif %}

        {% if end_file_size %}
            <div class="logging-info">Final file size {{ end_file_size }} bytes</div>
        {% endif %}
    </div>
    <h1>Compress file</h1>
    <form action="/" method="post" enctype=multipart/form-data class="file-form">
      <input class="file-input" type=file name=file>
      <input class="submit-button" type=submit value=Upload>
    </form>

    <h1>Decompress file</h1>
    <form action="/?decompress=True" method="post" enctype=multipart/form-data class="file-form">
      <input class="file-input" type=file name=file>
      <input class="submit-button" type=submit value=Upload>
    </form>
</body>
</html>